{% extends 'base.html' %}

{% block title %} Вход {% endblock %}

{% block content %}
<div class="content">
    <h2> Вход </h2>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="message {{cat}}">
            <p>{{msg}}</p>
    </div>
    {% endfor %}
    <form action="{{ url_for('users.login') }}" method="POST">
        <div class="form-input">
            <label for="username">Имя</label>
            <input type="text" name="username" id="username" placeholder="username" required="required">
        </div>

        <div class="form-input">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="password" required="required">
        </div>

        <input type="submit" value="Войти" class="button-red">
    </form>
    <div class="snoska">
        <p>Нет аккаунта?</p>
        <a href="{{ url_for('users.register') }}"> Регистрация </a>
    </div>
</div>
{% endblock %}