{% extends 'base.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}
<div class="content">
    <h2> Вход </h2>

    <form action="" method="POST">
        <div class="form-input">
            <label for="username">Имя</label>
            <input type="text" name="username" id="username" placeholder="username" required="required">
        </div>

        <div class="form-input">
            <label for="password1">Пароль</label>
            <input type="password" name="password1" id="password1" required="required">
        </div>
        <div class="form-input">
            <label for="password2">Повторите пароль</label>
            <input type="password" name="password2" id="password2" required="required">
        </div>

        <input type="submit" value="Регистрация" class="button-red">
    </form>
    <div class="snoska">
        <p>Уже есть аккаунт?</p>
        <a href="{{ url_for('users.login') }}"> Войти </a>
    </div>

</div>
{% endblock %}