{% extends 'base.html' %}

{% block title %} Завершенные задачи {% endblock %}

{% block content %}
 <div class="content">
        <div class="page-center">
            <h1>Список задач</h1>

            <div class="todos">
                <div class="todo">
                    <div>
                        <a href="" title="Выполнить"  class="button-check-ready">&#10003;</a>
                        <a href="" class="todo-text">
                            <b>Название задачи</b> - Описание задачи
                        </a>
                    </div>

                    <a href="">
                        <img src="/itog/static/img/trash.png"  title="Удалить" class="icon-trash">

                    </a>
                </div>
                <div class="todo todo-important">
                    <div>
                        <a href="" title="Выполнить" class="button-check-ready">&#10003;</a>
                        <a href="" class="todo-text">
                            <b>Название задачи</b> - Описание задачи
                        </a>
                    </div>

                    <a href="">
                        <img src="/itog/static/img/trash.png"  title="Удалить" class="icon-trash">
                    </a>
                </div>

                <div class="todo todo-important">
                    <div>
                        <a href="" title="Отменить" class="button-check-noready">&#10003;</a>
                        <a href="" class="todo-text">
                            <b>Название задачи ,eltn jdfkjdlfadfav</b> - Готовая задача
                        </a>
                    </div>

                    <a href="">
                        <img src="/itog/static/img/trash.png"  title="Удалить" class="icon-trash">
                    </a>
                </div>
            </div>



        <!-- <h1>Список пока пуст </h1>
        {% if title == 'Список задач' %}
        <h2>Похоже, у вас нет задач! Хорошая работа.</h2>
        {% else %}
        <h2>Похоже, у вас нет выполненых задач...</h2>
        {% endif %}
        <a href="{}" role="button" class='button-red'>Создать задачу</a> -->


        </div>
    </div>
{% endblock %}