<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/itog/static/css/setting_css.css">
    <link rel="stylesheet" href="/itog/static/css/style.css">

    <link rel="icon" type="img/png" href="/itog/static/img/logo.png">
    <title>Home Page</title>
</head>
<body>
    <div class="header flex-horizon">

        <div class="logo flex-horizon">
            <img src="/itog/static/img/logo.png" alt="logo">
            <span> Lisotok </span>
        </div>

        <div class="menu flex-horizon">
            <ul class="flex-horizon">
                <li>
                    <a href="/itog/todos/list_todo.html"> Список задач </a>
                </li>
                <li>
                    <a href="/itog/todos/create.html"> Создать </a>
                </li>
                <li>
                    <a href="/itog/todos/completed.html"> Завершненные задачи </a>
                </li>
            </ul>

            <ul class="flex-horizon">
                <li>
                    <a href=""> Выйти </a>
                </li>
                <li>
                    <a href="/itog/users/login.html"> Войти </a>
                </li>
                <li>
                    <a href="/itog/users/registration.html"> Регистрация </a>
                </li>
            </ul>
        </div>

    </div>
    
    <div class="content">
        <div class="page-center">
            <h2> Новая задача </h2>

            <form class="page-center" action="" method="POST">
                <div class="form-input">
                    <label for="title">Задача</label>
                    <input type="text" name="title" id="title" placeholder="Что нужно сделать?" required="required">
                </div>

                <div class="form-input">
                    <label for="description">Описание задачи</label>
                    <textarea name="description" id="description"  placeholder='Напишите описание задачи'></textarea>
                </div>
                
                <div>
                    <input type="checkbox" name="important" id="important">
                    <label for="important"> Важное дело</label>
                </div>
                
                
                <input type="submit" value="Создать" class="button-red">
            </form>
        </div>
    </div>
</body>
</html>